ENV=qa
BROWSER=chromium
HEADLESS=true

QA_AH_URL=https://app-qa.agencyheight.com
QA_AH_USERNAME=agent_test@agency.com
QA_AH_PASSWORD=your_password

UAT_AH_URL=https://app-uat.agencyheight.com
UAT_AH_USERNAME=
UAT_AH_PASSWORD=

PROD_AH_URL=https://app.agencyheight.com
PROD_AH_USERNAME=
PROD_AH_PASSWORD=
