ENV=qa

# QA / Sandbox credentials
QA_SF_USERNAME=your_sf_username@example.com.sandbox
QA_SF_PASSWORD=your_sf_password
QA_SF_SECURITY_TOKEN=your_sf_security_token
QA_SF_DOMAIN=test

# UAT credentials
UAT_SF_USERNAME=
UAT_SF_PASSWORD=
UAT_SF_SECURITY_TOKEN=
UAT_SF_DOMAIN=test

# Production credentials
PROD_SF_USERNAME=
PROD_SF_PASSWORD=
PROD_SF_SECURITY_TOKEN=
PROD_SF_DOMAIN=login

# Test data
AH_TEST_SUBMISSION_ID=AH-XXXXXXXX
